*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));

    --sidebar-padding-left: calc(100% - 240px);
}


/*-------------MAIN------------*/

/*-------------TEST------------
a > object.icon-item10{
    filter: invert(100%) sepia(81%) saturate(7291%) hue-rotate(357deg) brightness(108%) contrast(120%);
}

li.item10 > a:hover{
    color: rgb(98, 0, 255);
    filter: invert(19%) sepia(81%) saturate(7291%) hue-rotate(357deg) brightness(108%) contrast(120%);
}
--------------TEST----------*/